{% extends "auctions/layout.html" %}
{% load static %}

{% block body %}
    <style>
        .index-div {
            width: 90%;
            height: 200px;
            display: inline-flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .index-div:hover {
            background-color: #f0f0f0;
            transform: scale(1.01);
        }

        .index-img {
            width: 400px;
            overflow: hidden;
            position: relative;
        }

        .index-img img {
            position: absolute;
            top: 50%;
            left: 50%;
            height: 100%;
            width: auto;
            transform: translate(-50%, -50%);
            border-radius: 10px;
        }

        .item-box {
            color: #000;
        }

        .item-box:hover {
            color: darkblue;
        }

        .item-details {
            flex: 1;
            text-align: left;
            overflow: hidden;
        }

        
    </style>

    <h2>Active Listings</h2>

    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

   {%for item in items %}
   <a class="item-box" href="{% url 'listings' item.id %}">
    <div class="index-div">
        <div class="index-img">
            {% if item.img_url %}
            <img src="{{item.img_url}}">
            {% else %}
            <img src="{% static 'auctions/stock.png' %}">
            {% endif %}
        </div>
        <div class="item-details">
            <h4>{{item.name}}</h4>
            <h6>Listed Price: ${{item.start_bid}}</h6>
            {% if item.current_bid_price and item.status == "Y" %}
            <h5 style="color: rgb(44, 116, 13); font-weight: bold;">Current Bid: ${{item.current_bid_price|floatformat:2}}</h5>
            {% elif item.current_bid_price and item.status == "N" %}
            <h5 style="color: rgb(173, 49, 24); font-weight: bold;">Sold at ${{item.current_bid_price|floatformat:2}}</h5>
            {% endif %}
            {% if item.category %}
            <h8 style="color: rgb(128, 127, 127); font-size: 14px">Category: {{item.category}}</h8>
            <br>
            {% endif %}
            <h8 style="color: rgb(128, 127, 127); font-size: 13px">Created {{item.created_at}}</h8>
        </div>
    </div>
    </a>
   {% empty %}
   <div class="alert alert-warning" role="alert">Nothing to show</div>
   {% endfor %}

{% endblock %}